@import url('https://fonts.googleapis.com/css2?family=Allura&family=Baskervville:ital@0;1&family=Kaisei+Tokumin&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lunasima:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Sora:wght@100..800&display=swap');

.desktop-menu {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  padding: 16px 24px;
  color: #000;
  font-family: "Lunasima", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin: 0;


}



.navigation {
  display: flex;
  gap: 50px;
  font-family: "Lunasima", sans-serif;
}

.menu-item {
  text-decoration: none;
  color: #333;
  font-size: 18px;

}
