@import url('https://fonts.googleapis.com/css2?family=Allura&family=Baskervville:ital@0;1&family=Kaisei+Tokumin&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lunasima:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Baskervville:ital@0;1&family=Kaisei+Tokumin&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lunasima:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Sora:wght@100..800&display=swap');



.works-section {
  padding: 20px;
  background-color: white;
}

.text-left {
  color: #000;
  padding: 30px;
  font-family: "Montserrat", normal;
  font-size: 20px;
  font-style: normal;
  line-height: 39px;
  order: 2;
  max-width: 500px;
  /* Центрирование текста */
  height: 150px;
  margin-right: 100px;
  margin-top: 100px;
  margin-left: 130px;
  margin-bottom: 300px;


}


.firstblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}


@media screen and (max-width: 768px) {
  .firstblock {
    flex-direction: column;
    text-align: center;
  }

  .text-left {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
  }

  .image-right {
    width: 90%;
    margin: 20px auto 0;
  }

  .image-right img {
    width: 100%;
    margin-top: 20px;
  }

  .music-photo-row {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .music-container {
    margin-left: 0;
    width: 90%;
  }

  audio {
    width: 100%;
  }
}


.player-photo {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin-bottom: 15px;
}

audio {
  width: 50%;
}

.music-photo-row {
  display: flex;
  margin-top: 4rem;
  gap: 8rem;

}

.music-block {

  min-width: 300px;
}

.fotkamy {
  flex: 1;
  max-width: 400px;
  opacity: 0;


}

.image-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 2s ease-out, opacity 1s ease-out;

}

.image-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.image-right img {
  max-width: 700px;
  height: auto;
  display: block;
}
